{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "/firefox/base-resp.html" %}

{% add_lang_files "firstrun" "mobile" %}

{% block extra_meta %}<meta name="robots" content="noindex">{% endblock %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{ _('Welcome to Firefox') }}{% endblock %}
{% block page_title_suffix %}{% endblock %}
{% block body_id %}firefox-firstrun{% endblock %}

{% block site_header_nav %}{% endblock %}
{% block site_header_logo %}{% endblock %}

{% block site_css %}
  {{ css('firefox_firstrun') }}
{% endblock %}

{% block content %}
<h1 id="firstrun-header">{{ _('Welcome to Firefox!') }}</h1>

<article id="main-content" class="billboard">

  <ul style="width: 200px; text-align: left;">
    <li class="tour-highlight" data-target="bookmarks">Hover to highlight Bookmarks</li>
    <li class="tour-info" data-target="bookmarks" data-title="{{ _('Info title') }}" data-text="{{ _('Info description') }}">Click to show info</li>
    <li class="tour-url-capture tour-info" data-target="urlbar" data-capturetext="{{ _('I love Firefox') }}" data-captureurl="https://mozilla.org" data-title="{{ _('Enter a URL') }}" data-text="{{ _('Try: I Love Firefox') }}">Capture URL input</li>
    <li class="tour-menu" data-target="bookmarks">Click to open menu</li>
    <li class="tour-pin-add" data-target="pinnedtab">Click to add a pin</li>
    <li class="tour-pin-remove" data-target="pinnedtab">Click to remove a pin</li>
    <li class="tour-cycle-theme">Hover to cycle themes (click to open)</li>
    <li class="tour-menu" data-target="appmenu">Open app menu (Australis only)</li>
  </ul>

  <div id="video-player" class="mozilla-video-control mozilla-video-shadow">
    <video
      controls="controls"
      poster="{{ media('/img/firefox/firstrun/video-poster.jpg') }}"
      height="360"
      width="640"
      data-overlay-hidden-text="{{_('Play video')}}"
      id="firstrun-video">
      <source src="//videos-cdn.mozilla.net/brand/Mozilla_Firefox_Manifesto_v0.2_640.webm">
    </video>
  </div>

</article>
{% endblock %}

{% block email_form %}
  <div id="email-form-wrapper" class="billboard">
    {{ super() }}
  </div>
{% endblock%}

{% block site_footer %}
<section id="colophon" class="billboard">
  <nav>
    <ul class="primary">
      <li> <a href="{{ php_url('/firefox/notes') }}">{{ _('Release Notes') }}</a></li>
      <li><a href="{{ url('firefox.features') }}">{{ _('Firefox Features') }}</a></li>
      <li><a href="https://support.mozilla.org/">{{ _('Firefox Help') }}</a></li>
    </ul>
    <ul class="secondary">
      <li><a href="{{ php_url('/privacy-policy.html') }}">{{ _('Privacy Policy') }}</a></li>
      <li><a href="{{ php_url('/about/legal.html') }}">{{ _('Legal Notices') }}</a></li>
    </ul>
  </nav>
</section>
{% endblock %}

{% block js %}
  {{ js('firefox_firstrun') }}
{% endblock  %}
