{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "/firefox/base-resp.html" %}

{% add_lang_files "firstrun" "mobile" %}

{% block extra_meta %}<meta name="robots" content="noindex">{% endblock %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{ _('Welcome to Firefox') }}{% endblock %}
{% block page_title_suffix %}{% endblock %}
{% block body_id %}firefox-firstrun{% endblock %}

{% block site_header_nav %}{% endblock %}
{% block site_header_logo %}{% endblock %}

{% block site_css %}
  {{ css('firefox_firstrun') }}
{% endblock %}

{% block string_data %}
  {# L10n: This is the label for a button that closes a modal dialog #}
  data-close="{{ _('Close') }}"
{% endblock %}

{% block content %}
<h1 id="firstrun-header">{{ _('Welcome to Firefox!') }}</h1>

<article id="main-content" class="billboard">

  <div id="video-player" class="mozilla-video-control mozilla-video-shadow">
    <video
      controls="controls"
      poster="{{ media('/img/firefox/firstrun/video-poster.jpg') }}"
      height="360"
      width="640"
      data-overlay-hidden-text="{{_('Play video')}}"
      id="firstrun-video">
      <source src="//videos-cdn.mozilla.net/brand/Mozilla_Firefox_Manifesto_v0.2_640.webm">
    </video>
  </div>

</article>

  <div id="firstrun" style="display:none;">
    <ul class="ui-tour-list">
      <li class="tour-step current first">
        <h2 class="tour-info step-target" data-target="home" data-title="{{ _('Info title') }}" data-text="{{ _('Info description') }}">Show info panel</h2>
      </li>
      <li class="tour-step">
        <h2 class="tour-highlight step-target" data-target="bookmarks">Highlight icon</h2>
      </li>
      <li class="tour-step">
        <h2 class="tour-url-capture tour-info step-target" data-target="urlbar" data-capturetext="{{ _('I love Firefox') }}" data-captureurl="https://mozilla.org" data-title="{{ _('Enter a URL') }}" data-text="{{ _('Try: I Love Firefox') }}">Capture URL input</h2>
      </li>
      <li class="tour-step">
        <h2 class="tour-menu tour-highlight step-target" data-target="bookmarks">Open menu</h2>
      </li>
      <li class="tour-step">
        <h2 class="tour-pin-add tour-highlight step-target" data-target="pinnedtab">Add Pinned Tab</h2>
      </li>
      <li class="tour-step last">
        <h2 class="tour-cycle-theme step-target">Hover to cycle themes (click to open)</h2>
      </li>
<!--       <li class="tour-step step-target last">
        <div class="tour-menu" data-target="appmenu">Open app menu (Australis only)</div>
      </li> -->
    </ul>
    <div class="ui-tour-controls">
      <button class="step prev">Prev</button>
      <button class="step next">Next</button>
    </div>
  </div>
{% endblock %}

{% block email_form %}
  <div id="email-form-wrapper" class="billboard">
    {{ super() }}
  </div>
{% endblock%}

{% block site_footer %}
<section id="colophon" class="billboard">
  <nav>
    <ul class="primary">
      <li> <a href="{{ php_url('/firefox/notes') }}">{{ _('Release Notes') }}</a></li>
      <li><a href="{{ url('firefox.features') }}">{{ _('Firefox Features') }}</a></li>
      <li><a href="https://support.mozilla.org/">{{ _('Firefox Help') }}</a></li>
    </ul>
    <ul class="secondary">
      <li><a href="{{ php_url('/privacy-policy.html') }}">{{ _('Privacy Policy') }}</a></li>
      <li><a href="{{ php_url('/about/legal.html') }}">{{ _('Legal Notices') }}</a></li>
    </ul>
  </nav>
</section>
{% endblock %}

{% block js %}
  {{ js('firefox_firstrun') }}
{% endblock  %}
