{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "/firefox/base-resp.html" %}

{% add_lang_files "firstrun" "mobile" %}

{% block extra_meta %}<meta name="robots" content="noindex">{% endblock %}

{% block page_title_prefix %}{% endblock %}
{% block page_title %}{{ _('Welcome to Firefox') }}{% endblock %}
{% block page_title_suffix %}{% endblock %}
{% block body_id %}firefox-firstrun{% endblock %}

{% block site_header_nav %}{% endblock %}
{% block site_header_logo %}{% endblock %}

{% block site_css %}
  {{ css('firefox_firstrun') }}
{% endblock %}

{% block string_data %}
  {# L10n: This is the label for a button that closes a modal dialog #}
  data-close="{{ _('Close') }}"
{% endblock %}

{% block content %}
<h1 id="firstrun-header">{{ _('Welcome to Firefox!') }}</h1>

<article id="main-content" class="billboard">

</article>

<div id="modal">
  <div id="firstrun">
    <div class="tour-inner">
      <div class="progress-step">
        <div class="logo"></div>
        <span>1</span>/4
        <progress max="4" value="1"></progress>
      </div>
      <ul class="ui-tour-list">
        <li class="tour-step current first" data-step="1">
          <div class="tour-item">
            <h2 class="tour-menu step-target" data-target="appmenu">{{ _('New Menu Panel') }}</h2>
            <ul>
              <li class="tour-highlight step-target" data-target="addons">Find your tools handy all in one place</li>
              <li>More visual and touch friendly</li>
            </ul>
          </div>
          <div class="tour-video">
            <div class="video"></div>
          </div>
        </li>
        <li class="tour-step" data-step="2">
          <div class="tour-item">
            <h2 class="tour-menu step-target" data-target="appmenu">{{ _('Easier Customization') }}</h2>
            <ul>
              <li class="tour-highlight step-target" data-target="customize">Customize Firefox just the way you want</li>
              <li>Easy and effortless</li>
            </ul>
          </div>
        </li>
        <li class="tour-step" data-step="3">
          <div class="tour-item">
            <h2 class="tour-highlight step-target" data-target="bookmarks">Bookmarks</h2>
          </div>
        </li>
        <li class="tour-step last" data-step="4">
          <div class="tour-item">
            <h2 class="step-target">{{ _('Look & Feel conclusion') }}</h2>
            <ul>
              <li>Tabbed browsing is shown</li>
            </ul>
          </div>
        </li>
      </ul>
      <div class="tour-info tour-init" data-target="appmenu" data-title="{{ _('Welcome to the new Firefox!') }}" data-text="{{ _('Your Firefox Menu is now moved here, more visual and easier to customize!') }}" data-icon="{{ MEDIA_URL }}img/firefox/firstrun/australis-tour/logo.png"></div>
      <div class="ui-tour-controls">
        <button class="step prev">Prev</button>
        <button class="step next">Next</button>
        <button id="modal-close">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="tour-sticky-footer">
  <div class="inner">
    <div class="progress-step">
      <progress max="4" value="1"></progress><span>1</span>/4
    </div>
  </div>
  Return to Tour
</div>
{% endblock %}

{% block email_form %}
  <div id="email-form-wrapper" class="billboard">
    {{ super() }}
  </div>
{% endblock%}

{% block site_footer %}
<section id="colophon" class="billboard">
  <nav>
    <ul class="primary">
      <li> <a href="{{ php_url('/firefox/notes') }}">{{ _('Release Notes') }}</a></li>
      <li><a href="{{ url('firefox.features') }}">{{ _('Firefox Features') }}</a></li>
      <li><a href="https://support.mozilla.org/">{{ _('Firefox Help') }}</a></li>
    </ul>
    <ul class="secondary">
      <li><a href="{{ php_url('/privacy-policy.html') }}">{{ _('Privacy Policy') }}</a></li>
      <li><a href="{{ php_url('/about/legal.html') }}">{{ _('Legal Notices') }}</a></li>
    </ul>
  </nav>
</section>
{% endblock %}

{% block js %}
  {{ js('firefox_firstrun') }}
{% endblock  %}
